<ion-tabs>

  <div id="logged">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="likes" (click)="profil()">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Likes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profil" (click)="profil()">
        <ion-icon name="list-circle-outline"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
      
      <!-- <div id="appLogout">
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </div> -->
    </ion-tab-bar>
  </div>





</ion-tabs>