.name{
    color: black;
    text-align: center;
    margin-top: 4%;
}

.information{
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-top: 10%;
}

.img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin:auto;
    overflow: hidden;
    margin-top: -12%;
}

.loisir{
    padding-top: 8%;
}

.rayon{
    padding-top: 5%;
    margin-left: 5%;
}

.foyer{
    padding-top: 3%;
}

.hobbies{
    display: flex;
    padding-left: 6%;
}

.btn{
    padding-right: 5%;
}

.famille{
    padding-left: 6%;
}

// .selectOption{
//     color: #5CB85C;
// }

ion-alert div[class='alert-radio-label'] { background-color: red; }

ion-toggle {
    --background: #2A2A2A;
    --background-checked: #3A3A3A;
  
    --handle-background: #3A3A3A;
    --handle-background-checked: #000;
  }

.openbtn{
    margin-left: 6%;
}
