<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="warning" id="liste-coupons">
      profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="name">
    <ion-label>NAME </ion-label>
  </div>
  <div class="information">
    <ion-label>20 ans </ion-label>
    <ion-icon name="male-outline"></ion-icon>
  </div>
  <div class="img">
    <ion-img  src="../../assets/images/bees.png"></ion-img>
  </div>
  <div class="loisir">
    <ion-label>Centre d'interet : </ion-label>
  </div>
  <div class="hobbies">
    <div>
      <ion-icon name="football-outline"></ion-icon>
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-icon name="bicycle-outline"></ion-icon>
    </div>
    <div class="btn">
      <ion-button size="small">+</ion-button>
    </div>
  </div>

  <div class="rayon">
    <ion-label>Rayon : </ion-label>
  </div>

  <div class="foyer">
    <ion-label>Composition foyer :</ion-label>
  </div>
  <div class="famille">
    <ion-icon name="man-outline"></ion-icon>
    <ion-icon name="woman-outline"></ion-icon>
  </div>

</ion-content>
