<ion-header>

	<ion-toolbar color="primary">
		<ion-title>
      Profil
      <div style="display: inline-flex;width: 100%;position: absolute;left: 80%;bottom: 1%;">
        <ion-button color="#bf9056" style="cursor:pointer" (click)="openToast()">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </div>
		</ion-title>
	</ion-toolbar>

</ion-header>

<ion-content>
  <div class="name">
    <ion-label></ion-label>
  </div>
  <div class="information">
    <ion-label></ion-label>
    <ion-icon name="male-outline"></ion-icon>
  </div>

  <!-- <ion-avatar></ion-avatar> -->
  <div class="img">
    <ion-img src="../../assets/images/bees.png"></ion-img>
  </div>
  <div class="loisir" >  

    <ion-list>
      <ion-item>
        <ion-label color="success">Centre d'interet :</ion-label>
        <ion-select [value]="['tout']" multiple="true" [(ngModel)]="getSelectedSubject"  (ionChange)="getSelectedSubjectValue(getSelectedSubject)" 
          cancelText="Retour" okText="Valider" style="color:#bf9056">
          <ion-select-option value="Aquarium">Aquarium</ion-select-option>
          <ion-select-option value="Art">Art</ion-select-option>
          <ion-select-option value="Bar">Bar</ion-select-option>
          <ion-select-option value="Beaute">Beauté</ion-select-option>
          <ion-select-option value="Boite">Boite</ion-select-option>
          <ion-select-option value="Bowling">Bowling</ion-select-option>
          <ion-select-option value="Cafe">Café</ion-select-option>
          <ion-select-option value="Casino">Casino</ion-select-option>
          <ion-select-option value="Cinema">Cinéma</ion-select-option>
          <ion-select-option value="Coiffeur">Coiffeur</ion-select-option>
          <ion-select-option value="Eglise">Eglise</ion-select-option>
          <ion-select-option value="Librairie">Librairie</ion-select-option>
          <ion-select-option value="Magasin">Magasin</ion-select-option>
          <ion-select-option value="Mosquee">Mosquée</ion-select-option>
          <ion-select-option value="Musee">Musée</ion-select-option>
          <ion-select-option value="Parc">Parc</ion-select-option>
          <ion-select-option value="Parc_de_jeux">Parc de jeux</ion-select-option>
          <ion-select-option value="Restauration">Restauration</ion-select-option>
          <ion-select-option value="Spa">Spa</ion-select-option>
          <ion-select-option value="Shopping">Shopping</ion-select-option>
          <ion-select-option value="Sport">Sport</ion-select-option>
          <ion-select-option value="Stade">Stade</ion-select-option>
          <ion-select-option value="Synagogue">Synagogue</ion-select-option>
          <ion-select-option value="Zoo">Zoo</ion-select-option>
        </ion-select>
      </ion-item>
      
      
    </ion-list>
  </div>

  <div class="rayon">
    <ion-label color="success">Rayon : </ion-label>
  </div>
  <ion-item>
    <ion-range min="1" max="50" color="success" pin="true" step="1" [(ngModel)]="perimetre">
      <ion-label slot="end" color="success">{{perimetre}} km</ion-label>

    </ion-range>
  </ion-item>

  <div class="open">
    <ion-list>
      <ion-item>
          <div>
            <ion-label style="color: #bf9056;">Activité ouverte actuellement : </ion-label>
          </div>
          <div>
            <ion-toggle class="openbtn" color="success" [(ngModel)]="open" (ionChange)="notify()"></ion-toggle>
          </div>
      </ion-item>
    </ion-list>
  </div>

  <!-- <div class="foyer">
    <ion-label>Composition foyer :</ion-label>
  </div>
  <div class="famille">
    <ion-icon name="man-outline"></ion-icon>
    <ion-icon name="woman-outline"></ion-icon>
  </div>

  <ion-item *ngFor="let post of posts">
    <img src={{post.url}}>
  </ion-item> -->

</ion-content>