<ion-header [translucent]="true">
  <ion-toolbar color="dark" style="width: 100%; position: relative;">
    <ion-title color="warning" id="liste-coupons">
      profil
      <div style="display: inline-flex;width: 100%;position: absolute;left: 80%;bottom: 1%;">
        <ion-button style="cursor:pointer" (click)="openToast()">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="name">
    <ion-label>NAME </ion-label>
  </div>
  <div class="information">
    <ion-label>20 ans </ion-label>
    <ion-icon name="male-outline"></ion-icon>
  </div>

  <!-- <ion-avatar></ion-avatar> -->
  <div class="img">
    <ion-img src="../../assets/images/bees.png"></ion-img>
  </div>
  <div class="loisir">
    <ion-label>Centre d'interet : </ion-label>

    <ion-list>
      <ion-item>
        <ion-label>Centre d'interet :</ion-label>
        <ion-select [value]="['tout']" multiple="true" [(ngModel)]="getSelectedSubject"  (ionChange)="getSelectedSubjectValue(getSelectedSubject)" 
          cancelText="Retour" okText="Valider" style="color:black;">
          <ion-select-option value="animaux">Animaux</ion-select-option>
          <ion-select-option value="art">Art</ion-select-option>
          <ion-select-option value="bar">Bar</ion-select-option>
          <ion-select-option value="beaute">Beaute</ion-select-option>
          <ion-select-option value="boite">Boite</ion-select-option>
          <ion-select-option value="casino">Casino</ion-select-option>
          <ion-select-option value="cinema">Cinema</ion-select-option>
          <ion-select-option value="librairie">Librairie</ion-select-option>
          <ion-select-option value="magasin">Magasin</ion-select-option>
          <ion-select-option value="monument_religieux">Monument_religieux</ion-select-option>
          <ion-select-option value="nature">Nature</ion-select-option>
          <ion-select-option value="park">Park</ion-select-option>
          <ion-select-option value="restauration">Restauration</ion-select-option>
        </ion-select>
      </ion-item>
      
      
    </ion-list>
  </div>

  <div class="rayon">
    <ion-label>Rayon : </ion-label>
  </div>
  <ion-item>
    <ion-range min="1" max="50" color="warning" pin="true" step="1" [(ngModel)]="position">
      <ion-label slot="end" color="black">{{position}} km</ion-label>

    </ion-range>
  </ion-item>

  <!-- <div class="foyer">
    <ion-label>Composition foyer :</ion-label>
  </div>
  <div class="famille">
    <ion-icon name="man-outline"></ion-icon>
    <ion-icon name="woman-outline"></ion-icon>
  </div>

  <ion-item *ngFor="let post of posts">
    <img src={{post.url}}>
  </ion-item> -->

</ion-content>