<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating" color="dark">Nom complet</ion-label>
      <ion-input color="dark" type="text" formControlName="nom"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div color="danger" class="error-message"
          *ngIf="validations_form.get('nom').hasError(validation.type) && (validations_form.get('nom').dirty || validations_form.get('nom').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label color= "dark" position="floating">Email</ion-label>
      <ion-input color="dark" type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div color="danger" class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="dark" position="floating">Password</ion-label>
      <ion-input color="dark" type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid" color="warning" (click)="register()" style="margin-top: 6%;">Register</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <ion-button class="go-to-login" color="secondary" style="margin-top: 4%;"> <a (click)="goLoginPage()" >Déjà membre?</a></ion-button>
</ion-content>  