ion-app.cameraView #background-content, ion-app.cameraView, ion-app.cameraView ion-content{
    background: transparent none !important;
    visibility: hidden;
  }

ion-app.cameraView #showCam{
  visibility: inherit;
  display: block;
}

