<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="warning" id="liste-coupons">
      Scanner QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="contentCam">
  <div *ngIf="showCamera" id="showCam">
    <div *ngIf="plateformeAndroid" style="position: absolute; left:15%; top:30%">
      <ion-icon id="qrlogo" class="frame" name="scan-outline"style="font-size:256px;"></ion-icon>
    </div>
    <div *ngIf="!plateformeAndroid" style="position: absolute; left:40%; top:30%">
      <ion-icon id="qrlogo" class="frame" name="scan-outline"style="font-size:256px;"></ion-icon>
    </div>
    <!-- <img id ="qrScannerCarre" src="../../assets/images/qrCarre.png" alt="qrScanner"> -->
    <!-- <button id="scanQrButton" ion-button full icon-left (click)="scanCode()"> -->
    <div id="idFlashlight">
      <ion-button shape="round" id="light" icon-left (click)="addLight()" color="dark">
        <ion-icon name="flashlight"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div *ngIf="!showCamera">
    <ion-button expand="block" id="scanQrButton" icon-left (click)="scanCode()">
      <ion-icon name="qr-code-outline"></ion-icon>&nbsp;Scan Code
    </ion-button>

    <ion-card *ngIf="coupons?.length <= 0">
      <ion-item><a>Vous n'avez aucun code pour le moment.</a></ion-item>
    </ion-card>
    <ion-card *ngIf="coupons?.length > 0">
      <ion-item ng-repeat="coupon in coupons">
        <a>CODE : {{coupon.code_value | async }} </a>
        <br />
        <br />
        <a>DESCRIPTION : {{coupon.description | async}} </a>
        <br />
        <br />
      </ion-item>
    </ion-card>
    <div *ngIf="scannedCode"><a>{{scannedCode.result}}</a></div>
  </div>
</ion-content>